body{
    margin: 0;
    background-color:white;
}
.continer{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: black;

}

.product{
    /* background-color: blue; */
    width: 500px;
    height: 500px;
    position: absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 1;
    transition: 0.7s;
    --left:0px;
}

.soda{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    background:
        url(images/couver1.png) var(--left) 0px,
        url(images/soda.png);
    background-size: auto 100%;
    background-blend-mode: multiply;
    mask-image: url(images/soda.png);
    mask-size: auto 100%;
    width: 13vw;
    aspect-ratio: 2/4;
    transition: 0.9s;

   
}

.product:hover{
    --left:-500px;
    top: 10%;
    
}

@media(max-width:600px){
    .soda{
        width: 20vh;
    }
}

.title{
    position: absolute;
    width: 200px;
    color:white;
    font-size:30px;
    bottom:1%;
    left:1%;
}
